---
title: About RemoteScope
linkTitle: About
menu:
  main:
    weight: 10

---


{{< blocks/cover title="About RemoteScope" image_anchor="bottom" height="min" >}}

<p class="lead mt-5">This site is a technical documentation experiment. The <b>RemoteScope</b> product and service don't exist, unfortunately. 
	Read below for a description of RemoteSCope or head over to the <b>Documentation</b> section of the 
	website for a sample layout of technical documentation.
</p>

{{< /blocks/cover >}}

{{% blocks/lead %}}
<p>RemoteScope has an array of 20 powerful telescopes in upstate New York that you and other amateur astronomers can operate remotely to study the night sky.
Reserve your viewing timeslot ahead of time and sign in to explore the sky or perform advanced explorations.</p>
{{% /blocks/lead %}}


{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">Guided viewing</h1>
<p><center>Book guided lessons with our certified personnel, who will make sure you don't miss anything worth seeing.</center>
</p>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">Advanced users</h1>
<center><p> Advanced user? Looking for telescope time for a university or a personal project? Looking to do more advanced things with our telescopes?
</p>
<p>We're happy to accommodate you. Check out the Advanced use cases in our documentation and the API documentation.
</p></center>
</div>

{{< /blocks/section >}}
