+++
title = "RemoteScope"
linkTitle = "RemoteScope"

+++

{{< blocks/cover title="Welcome to RemoteScope!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/vgiurgiu/remotescope-site-and-documentation">
		GitHub Repository <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">This site is a technical documentation experiment. The RemoteScope product and service don't exist, unfortunately. 
		Read below for an imaginary description of RemoteScope or head over to the Documentation section of the website to read the product documentation for this imaginary product.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
RemoteScope has an array of 20 powerful telescopes in upstate New York that you and other amateur astronomers can operate remotely to study the night sky. 

Reserve your viewing timeslot ahead of time and sign in to explore the sky or perform advanced explorations.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-camera" title="Astrophotography" %}}
You can now perform remote astrophotography using RemoteScope.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-phone" title="Download the app!" %}}
We also have an app
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-instagram" title="Follow us on Instagram!" url="https://www.instagram.com/manchesterunited/?hl=de" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}